/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
/* General */


.flex {
    display:flex;
    flex-direction: column;
}

body {
    color: #1A1A1A;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    font-size: 4rem;
    font-weight: 100;
    line-height: 1.20;
}

h2 {
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 3rem;
    margin: 10% auto;
}

h3 {
    font-size: 1.1rem;
}

p {
    font-size:1rem;
    line-height: 2;
}

a {
    text-decoration: none;
    color: #1a1a1a;
    padding: 1em;
    font-size: 1.1rem;
}

a:hover {
    color:#00B172;
    font-size: 1.2rem;
}

article {
    margin: 10% auto;
}


/* Navbar*/
.header {
    padding: 5%;
}

.brand-logo {
    max-width:fit-content;
}

.navbar {
    list-style: none;
    padding-inline-start: 0;
}

/* Top section */

#top {
    background-image: url(../images/landing.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.frontpage {
    color: white;
    padding: 10%;
}

/* Features */

.icon {
    max-width: 50%;
}

#features {
    padding: 5%;
} 

#features h2 {
    border-bottom: #00B172 solid 2px;
    max-width: fit-content;
}
.feat h3 {
    color: #00B172;
}


/* Green Section*/

#kanye {
    background-color: #00B172;
    color: white;
    padding: 10%;
    background-image: url(../images/spotify-icon-white.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10%;
}

#kanye h2 {
    border-bottom: white solid 2px;
    max-width: fit-content;
    padding-bottom: 5%;
}

.mobile-img {
    max-width: 100%;
}

.info {
    margin-bottom: 10%;
}

/* Responsive */

@media (min-width: 400px) {
    body {
        font-size: 20px;
    }
    h2 {
        margin: 1% auto;
    }
    article {
        margin: 5% 0;
        max-width: 40%;
    }
    .fr {
        flex-direction: row;
    }
    .header {
        position:sticky;
        top:0;
        padding: 1%;
        justify-content: space-between;
        background-color: white;
    }
    .brand-logo {
        height: 3rem;
    }
    #top {
        background-image: url(../images/landing.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 90vh;
    }
    .frontpage {
        margin: auto;
    }
    .feat {
        align-items: baseline;
    }
    .icon {
        max-width: 30%;
    }
    #kanye {
        justify-content: space-between;
        background-image: url(../images/spotify-icon-white.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 5%;
        padding: 5% 10%;
    }
    .info {
        text-align: start;
        margin: 5% 0;
    }
    #kanye h2 {
        margin: 1% 0 3rem;
        padding-bottom: 1%; 
    }
    aside {
        margin:auto;
    }
    .mobile-img {
        max-height:70vh;
    }

}